
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.card { margin: 5rem; padding: 1rem; border-radius: 20px; width:20rem; color: hsl(0, 0%, 100%);}
.card-body { padding-bottom: 0; }
.card-img-top { border-radius: 10px; }
.card-title {	font-family: 'Outfit', sans-serif; font-weight: 700; color: hsl(218, 44%, 22%);}
.card-text { margin: 1rem; margin-bottom: 1rem; font-size: 15px; font-family: 'Outfit', sans-serif; font-weight: 400; color: hsl(220, 15%, 55%);}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  background-color: hsl(212, 45%, 89%);
}
